.wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-shadow: var(--button-shadow);
    background-color: var(--bg-button-header);
    cursor: pointer;
    transition: 0.3s linear;

    &:hover {
      background-color: var(--bg-button-header-hover);
    }

    svg {
      font-size: var(--12px);
      color: var(--color-icons-white);
    }
  }
}
