.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 15px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 45%;
    border: var(--border-button-play-control);
    background-color: rgba(72, 69, 69, 0.601);
    cursor: pointer;
    height: 40px;
    width: 40px;
    transition: 0.3s linear;
    &:hover {
      background-color: rgba(72, 69, 69, 0.761);
    }
    &:nth-child(odd) {
      height: 42px;
      width: 42px;

      svg {
        font-size: 1.4rem;
      }
    }
    svg {
      font-size: 1.5rem;
      color: var(--color-white);
      font-weight: 900;
    }
  }
}
