.wrapper {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 350px;
  overflow: scroll;
  height: 400px;
  padding: 0 10px;
  margin: 10px 0;

  .title {
    color: var(--color-white);
    font-weight: 500;
    padding: 4px 2px;
  }

  .item {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 5px;

    &.active {
      .image {
        img {
          filter: blur(10px);
          transform: scale(1.1);
        }
      }
    }

    &:hover {
      .image {
        img {
          filter: blur(10px);
          transform: scale(1.1);
        }
      }
    }

    .title {
      font-size: var(--15px);
      font-weight: 900;
      color: var(--color-white);
      text-shadow: var(--text-title-shadow);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-family: cursive;
      z-index: 9999;
      width: 100%;

      text-align: center;
    }

    .image {
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      img {
        border-radius: 4px;
        height: 200px;
        width: 100%;
        object-fit: cover;
        transition: 0.3s linear;
      }
    }
  }
}
